name: Docker Build and Publish on Release

on:
  schedule:
    - cron: '37 7 * * *'
  workflow_dispatch:

env:
  ## github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}

jobs:
  check-versions:
    name: Check for new versions
    runs-on: ubuntu-latest
    outputs:
      new_versions: ${{ steps.check.outputs.new_versions }}
      latest_caddy_docker_proxy_version: ${{ steps.check.outputs.latest_caddy_docker_proxy_version }}
      latest_caddy_dns_cloudflare_version: ${{ steps.check.outputs.latest_caddy_dns_cloudflare_version }}
      latest_caddy_digest: ${{ steps.check.outputs.latest_caddy_digest }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check versions
        id: check
        run: |
          source .versions
          
          LATEST_CADDY_DOCKER_PROXY_VERSION=$(curl -s "https://api.github.com/repos/lucaslorentz/caddy-docker-proxy/releases/latest" | jq -r .tag_name)
          LATEST_CADDY_DNS_CLOUDFLARE_VERSION=$(curl -s "https://api.github.com/repos/caddy-dns/cloudflare/tags" | jq -r '.[0].name')
          LATEST_CADDY_DIGEST=$(docker pull caddy:latest > /dev/null 2>&1 && docker inspect caddy:latest | jq -r '.[0].RepoDigests[0]' | cut -d'@' -f2)
          
          echo "Current CADDY_DOCKER_PROXY_VERSION: $CADDY_DOCKER_PROXY_VERSION"
          echo "Latest CADDY_DOCKER_PROXY_VERSION: $LATEST_CADDY_DOCKER_PROXY_VERSION"
          echo "Current CADDY_DNS_CLOUDFLARE_VERSION: $CADDY_DNS_CLOUDFLARE_VERSION"
          echo "Latest CADDY_DNS_CLOUDFLARE_VERSION: $LATEST_CADDY_DNS_CLOUDFLARE_VERSION"
          echo "Current CADDY_LATEST_DIGEST: $CADDY_LATEST_DIGEST"
          echo "Latest CADDY_LATEST_DIGEST: $LATEST_CADDY_DIGEST"
          
          if [ "$CADDY_DOCKER_PROXY_VERSION" != "$LATEST_CADDY_DOCKER_PROXY_VERSION" ] || \
             [ "$CADDY_DNS_CLOUDFLARE_VERSION" != "$LATEST_CADDY_DNS_CLOUDFLARE_VERSION" ] || \
             [ "$CADDY_LATEST_DIGEST" != "$LATEST_CADDY_DIGEST" ]; then
            echo "New versions found"
            echo "new_versions=true" >> $GITHUB_OUTPUT
            echo "latest_caddy_docker_proxy_version=$LATEST_CADDY_DOCKER_PROXY_VERSION" >> $GITHUB_OUTPUT
            echo "latest_caddy_dns_cloudflare_version=$LATEST_CADDY_DNS_CLOUDFLARE_VERSION" >> $GITHUB_OUTPUT
            echo "latest_caddy_digest=$LATEST_CADDY_DIGEST" >> $GITHUB_OUTPUT
          else
            echo "No new versions found"
            echo "new_versions=false" >> $GITHUB_OUTPUT
          fi

  build-and-push-docker-image:
    name: Build Docker image and push to DockerHub and Github Container Registry
    runs-on: ubuntu-latest
    needs: check-versions
    if: needs.check-versions.outputs.new_versions == 'true' || github.event_name == 'workflow_dispatch'
    permissions:
      contents: write
      packages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
  
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v5
        with:
          provenance: false
          context: .
          platforms: linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64/v8
          push: true
          tags: |
            docker.io/${{ env.IMAGE_NAME }}:latest
            ghcr.io/${{ env.IMAGE_NAME }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Update versions file
        run: |
          echo "CADDY_DOCKER_PROXY_VERSION=${{ needs.check-versions.outputs.latest_caddy_docker_proxy_version }}" > .versions
          echo "CADDY_DNS_CLOUDFLARE_VERSION=${{ needs.check-versions.outputs.latest_caddy_dns_cloudflare_version }}" >> .versions
          echo "CADDY_LATEST_DIGEST=${{ needs.check-versions.outputs.latest_caddy_digest }}" >> .versions
          
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add .versions
          git commit -m "Update versions"
          git push
        if: github.event_name != 'workflow_dispatch'

      - name: Image digest
        run: echo ${{ steps.build-and-push.outputs.digest }}
